<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Insertar cliente</title>
  <script src="recursos/js/validaciones.js"></script>
</head>
<body>
  <form action="/postinsertarCliente/" method="post">
    {% csrf_token %}
Nombre:
<input id="nombre" onkeypress="return letras(event)" type="text" name="nom" required>
<br>
Apellidos:
<input id="apellido" onkeypress="return letras(event)" type="text" name="apellidos" required>
<br>
Edad:

<input type="number" onkeypress="return numeros(event)" name="edad" required>

<br>
Sexo:
<!--
<input type="text" name="sexo" required>-->
<select class="" name="">
  <option value="A">Masculinno</option>
  <option value="B">Femenino</option>
</select>
<br>
Telefono:
<input type="text" onkeypress="return numeros(event)" name="telefono" required>
<br>
Email:
<input type="email" name="email" required>
<br>
Direccion:
<input type="text" onkeypress="return rola(event)" name="direccion" required>
<br>
Contraseña:
<input type="text" onkeypress="return contraseña(event)" name="password" required>
<br>
<input type="submit" name="enviar" value="Guardar">
  </form>
{% if res %}
<h2>{{res}}</h2>
{% endif %}



</body>
</html>
