<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv=”Content-Type” content=”text/html; charset=iso-8859-2″>
  <title>Consulta General</title>
  {% load static from staticfiles %}
  <link rel="stylesheet" href="{% static 'css/slider.css' %}">



    <link rel="stylesheet" href="{% static 'css/MenuPie.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/visorProductos.css' %}">
        <script src="{% static 'js/productos.js' %}"></script>
        <script src="{% static 'js/validaciones.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery-2.1.4.js' %}"></script>



  </head>

</head>
<body onload="ocultarRprove()">
  <header>
      <img href="/index/" src="{% static 'img/logo.png' %}" alt="Logo de la empresa" id="logo" width="35%">

      <nav id="menu" style="width:100%" >
        <ul>
                <li><a href="/index/">Inicio</a></li>
                <li><a href="/Cliente/">Cliente</a></li>
                <li><a href="/Personal/">Personal</a></li>
                <li><a href="/Proveedor/">Proveedor</a></li>
                <li><a href="/Sucursal/">Sucursal</a></li>
                <li><a href="/Productos/">Productos</a></li>
                <li><a href="/Ventas/">Ventas</a></li>
                <li><a href="/acerca-de/">Acerca de...</a></li>
        </ul>
      </nav>
    </header>
    <br><br><br><br>
    {% if res %}

  <section>
    <form action="/postModificarPersonal/" method="post" >
      {% csrf_token %}
  <div class="form-group">
  <label for="">Id:</label>
  <input  value="{{res.id}}" disabled type="number" onkeypress="return numeros(event)" name="id" required>
  </div>
  <div class="form-group">
  <label for="">Nombre:</label>
  <input  value="{{res.nombre}}" maxlength="30" id="nombre" onkeypress="return letras(event)" type="text" name="nom" required>
  </div>
  <div class="form-group">
  <label for="">Apellidos:</label>
  <input  value="{{res.apellidos}}" maxlength="30" id="apellido" onkeypress="return letras(event)" type="text" name="apellidos" required>
  </div>

  <div class="form-group">
  <label for="">Sexo:</label>

  <input  value="{{res.sexo}}" type="text" name="sexo" required>
  <!--<select class="" name="">
    <option value="A">Masculinno</option>
    <option value="B">Femenino</option>
  </select>-->
  </div>
  <div class="form-group">
  <label for="">Telefono:</label>
  <input  value="{{res.telefono}}" maxlength="10" type="text" onkeypress="return numeros(event)" name="telefono" required>
  </div>

  <div class="form-group">
  <label for="">Email:</label>
  <input  value="{{res.email}}" maxlength="100" type="email" name="email" required>
  </div>

  <div class="form-group">
  <label for="">Direccion:</label>
  <input  value="{{res.direccion}}" maxlength="100" type="text" onkeypress="return rola(event)" name="direccion" required>
  </div>
  <input onclick="if(confirm('¿Esta seguro de guardar los cambios?')){this.form.submit();}" type="submit" name="enviar" value="Guardar" class="btn btn-default">

  </form>
      {% endif %}
  </section>



  </body>
  </html>
