<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>

      {% load static from staticfiles %}
      <link rel="stylesheet" href="{% static 'css/slider.css' %}">



        <link rel="stylesheet" href="{% static 'css/MenuPie.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/visorProductos.css' %}">
            <script src="{% static 'js/productos.js' %}"></script>
            <script src="{% static 'js/validaciones.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
</head>
<body onload="ocultaproducto()">

  <header>
      <img href="/index/" src="{% static 'img/logo.png' %}" alt="Logo de la empresa" id="logo" width="35%">

      <nav id="menu" style="width:100%" >
        <ul>
                <li><a href="/index/">Inicio</a></li>
                <li><a href="/Consultar/">Cliente</a></li>
                <li><a href="/Personal/">Personal</a></li>
                <li><a href="/Proveedor/">Proveedor</a></li>
                <li><a href="/Sucursal/">Sucursal</a></li>
                <li><a href="/Productos/">Productos</a></li>
                <li><a href="/Ventas/">Ventas</a></li>
                <li><a href="/acerca-de/">Acerca de...</a></li>

        </ul>
      </nav>
    </header>



    <table class="table table-striped">
      <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Marca</th>
      <th>Precio</th>
      <th>Proveedor</th>
      <th>Personal</th>
      <th></th>
      <th></th>
      </tr>
  {% for reg in regs %}

  <tr>
  <td>{{reg.id}},</td>
  <td>{{reg.nombre}},</td>
  <td> {{reg.marca}},</td>
  <td>{{reg.precio}},</td>
  <td> {{reg.proveedor_id}},</td>
  <td>{{reg.personal_id}},</td>


    <form action="/postEliminarProducto/" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{reg.id}}">
      <td><input type="button" class="btn btn-danger" value="Eliminar" onclick="if(confirm('¿Esta seguro de realizar esta acción?')){this.form.submit();}">  </td>

    </form>

    <form action="/buscarProducto/" method="get">
      <input type="hidden" name="idbus" value="{{reg.id}}">
      <td><input  type="button" class="btn btn-info" value="Modificar" onclick="{this.form.submit()}">  </td>
    </form>


    </tr>
    {% endfor %}
    </table>

  <button onclick="muestraproducto()" type="button" class="btn btn-success">Registrar</button>









<br><br>
  <div id="registroproducto">
  <form action="/postinsertarproductos/" method="post">
    {% csrf_token %}
  Nombre:
  <input type="text" onkeypress="return letras(event)" maxlength="30" name="nombre" required>
  <br><br>
  Marca:
  <input type="text" onkeypress="return letras(event)" maxlength="30" name="marca" required>
  <br><br>
  Precio:
  <input type="text" onkeypress="return validardecimal(event)" value="50" maxlength="4" min="50" max="2500" name="precio" required>
  <br><br>
  Proveedor:
  <select selected="selected" class="form-control" name="proveedor"  required>
  {% for reg in pro %}
  <option value="{{reg.id}}">
  {{reg.id}}
  </option>{% endfor %}</select>
  Personal:
  <select selected="selected" class="form-control" name="personal"  required>
  {% for reg in per %}
  <option value="{{reg.id}}">
  {{reg.id}}
  </option>{% endfor %}</select>
  <br><br>
  <input onclick="ocultaproducto()" type="submit" name="enviar" value="Guardar">
  <br><br>
</div>
  </form>
  {% if res %}
  <h2>{{res}}</h2>
  {% endif %}

</body>
</html>
