<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
  <script src="recursos/js/validaciones.js"></script>
</head>
<body>
  <form action="/postinsertarproductos/" method="post">
    {% csrf_token %}
  Nombre:
  <input type="text" onkeypress="return letras(event)" name="nombre" required>
  <br><br>
  Marca:
  <input type="text" onkeypress="return letras(event)" name="marca" required>
  <br><br>
  Precio:
  <input type="text" onkeypress="return validardecimal(event)" name="precio" required>
  <br><br>
  Proveedor:
  <input type="text" onkeypress="return letras(event)" name="proveedor" required>
  <br><br>
  Personal:
  <input type="text" onkeypress="return letras(event)"  name="personal" required>
  <br><br>
  <input type="submit" name="enviar" value="Guardar">
  <br><br>

  </form>
  {% if res %}
  <h2>{{res}}</h2>
  {% endif %}

</body>
</html>
