<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ventas</title>

        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">



          <link rel="stylesheet" href="{% static 'css/MenuPie.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/style.css' %}">
          <link rel="stylesheet" href="{% static 'css/visorProductos.css' %}">
              <script src="{% static 'js/productos.js' %}"></script>
              <script src="{% static 'js/validaciones.js' %}"></script>
              <script src="{% static 'js/bootstrap.min.js' %}"></script>
              <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
</head>



<body onload="ocultaventa()">

    <header>
        <img href="/index/" src="{% static 'img/logo.png' %}" alt="Logo de la empresa" id="logo" width="35%">

        <nav id="menu" style="width:100%" >
          <ul>
                <li><a href="/index/">Inicio</a></li>
                <li><a href="/Cliente/">Cliente</a></li>
                <li><a href="/Personal/">Personal</a></li>
                <li><a href="/Proveedor/">Proveedor</a></li>
                <li><a href="/Sucursal/">Sucursal</a></li>
                <li><a href="/Productos/">Productos</a></li>
                <li><a href="/Ventas/">Ventas</a></li>
                <li><a href="/acerca-de/">Acerca de...</a></li>

          </ul>
        </nav>
      </header>



      <table class="table table-striped">
        <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Personal</th>
        <th>Sucursal</th>
        <th></th>
        <th></th>
        </tr>
    {% for reg in regs %}

    <tr>
    <td>{{reg.id}},</td>
    <td>{{reg.total}},</td>
    <td> {{reg.fecha}},</td>
    <td>{{reg.cliente_id}},</td>
    <td> {{reg.personal_id}},</td>
    <td>{{reg.sucursal_id}},</td>


      <form action="/postEliminarVenta/" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{reg.id}}">
        <td><input type="button" class="btn btn-danger" value="Eliminar" onclick="if(confirm('¿Esta seguro de eliminar esta venta?')){this.form.submit();}">  </td>

      </form>
<!--
      <form action="/buscarVenta/" method="get">
        <input type="hidden" name="idbus" value="{{reg.id}}">
        <td><input  type="button" class="btn btn-info" value="Modificar" onclick="{this.form.submit()}">  </td>
      </form>

-->
      </tr>
      {% endfor %}
      </table>

    <button onclick="muestraventa()" type="button" class="btn btn-success">Registrar</button>


<br><br>

<section id="registroventa">
<form action="/postinsertarventas/" method="post">
  {% csrf_token %}
Total:
<input type="text" onkeypress="return validardecimal(event)" name="total" required>
<br><br>
Cliente:
<select selected="selected" class="form-control" name="cliente"  required>
{% for reg in cli %}
<option value="{{reg.id}}">
{{reg.id}}
</option>{% endfor %}</select>
Personal:
<select selected="selected" class="form-control" name="personal"  required>
{% for reg in per %}
<option value="{{reg.id}}">
{{reg.id}}
</option>{% endfor %}</select>

Sucursal
<select selected="selected" class="form-control" name="sucursal"  required>
{% for reg in suc %}
<option value="{{reg.id}}">
{{reg.id}}
</option>{% endfor %}</select>
<input type="submit" name="enviar" value="Guardar">
</form>
</section>
{% if res %}
<h1>{{res}}</h1>
{% endif %}

</body>
</html>
